<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>hms1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>authentication.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>authentication.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Signup</display-name>
    <servlet-name>Signup</servlet-name>
    <servlet-class>authentication.Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookAppointment</display-name>
    <servlet-name>BookAppointment</servlet-name>
    <servlet-class>patient.servlet.BookAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookAppointment</servlet-name>
    <url-pattern>/BookAppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CloseAppointment</display-name>
    <servlet-name>CloseAppointment</servlet-name>
    <servlet-class>patient.servlet.CloseAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CloseAppointment</servlet-name>
    <url-pattern>/CloseAppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfile</display-name>
    <servlet-name>EditProfile</servlet-name>
    <servlet-class>patient.servlet.EditProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfile</servlet-name>
    <url-pattern>/EditProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewAppointmentItem</display-name>
    <servlet-name>NewAppointmentItem</servlet-name>
    <servlet-class>patient.servlet.NewAppointmentItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewAppointmentItem</servlet-name>
    <url-pattern>/NewAppointmentItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OpenBookAppointment</display-name>
    <servlet-name>OpenBookAppointment</servlet-name>
    <servlet-class>patient.servlet.OpenBookAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpenBookAppointment</servlet-name>
    <url-pattern>/OpenBookAppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientAppointmentDetails</display-name>
    <servlet-name>PatientAppointmentDetails</servlet-name>
    <servlet-class>patient.servlet.PatientAppointmentDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientAppointmentDetails</servlet-name>
    <url-pattern>/PatientAppointmentDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientServlet</display-name>
    <servlet-name>PatientServlet</servlet-name>
    <servlet-class>patient.servlet.PatientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientServlet</servlet-name>
    <url-pattern>/PatientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePatientProfile</display-name>
    <servlet-name>UpdatePatientProfile</servlet-name>
    <servlet-class>patient.servlet.UpdatePatientProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePatientProfile</servlet-name>
    <url-pattern>/UpdatePatientProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>staff.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllocateDoctor</display-name>
    <servlet-name>AllocateDoctor</servlet-name>
    <servlet-class>staff.servlet.AllocateDoctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllocateDoctor</servlet-name>
    <url-pattern>/AllocateDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorAppointmentDetails</display-name>
    <servlet-name>DoctorAppointmentDetails</servlet-name>
    <servlet-class>staff.servlet.DoctorAppointmentDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorAppointmentDetails</servlet-name>
    <url-pattern>/DoctorAppointmentDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorServlet</display-name>
    <servlet-name>DoctorServlet</servlet-name>
    <servlet-class>staff.servlet.DoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorServlet</servlet-name>
    <url-pattern>/DoctorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditDoctorProfile</display-name>
    <servlet-name>EditDoctorProfile</servlet-name>
    <servlet-class>staff.servlet.EditDoctorProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDoctorProfile</servlet-name>
    <url-pattern>/EditDoctorProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditAdminProfile</display-name>
    <servlet-name>EditAdminProfile</servlet-name>
    <servlet-class>staff.servlet.EditAdminProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAdminProfile</servlet-name>
    <url-pattern>/EditAdminProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditReceptionistProfile</display-name>
    <servlet-name>EditReceptionistProfile</servlet-name>
    <servlet-class>staff.servlet.EditReceptionistProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditReceptionistProfile</servlet-name>
    <url-pattern>/EditReceptionistProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditLabPersonProfile</display-name>
    <servlet-name>EditLabPersonProfile</servlet-name>
    <servlet-class>staff.servlet.EditLabPersonProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditLabPersonProfile</servlet-name>
    <url-pattern>/EditLabPersonProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LabReportOpen</display-name>
    <servlet-name>LabReportOpen</servlet-name>
    <servlet-class>staff.servlet.LabReportOpen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LabReportOpen</servlet-name>
    <url-pattern>/LabReportOpen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LabPersonServlet</display-name>
    <servlet-name>LabPersonServlet</servlet-name>
    <servlet-class>staff.servlet.LabPersonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LabPersonServlet</servlet-name>
    <url-pattern>/LabPersonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceptionistAppointmentDetails</display-name>
    <servlet-name>ReceptionistAppointmentDetails</servlet-name>
    <servlet-class>staff.servlet.ReceptionistAppointmentDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceptionistAppointmentDetails</servlet-name>
    <url-pattern>/ReceptionistAppointmentDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceptionistServlet</display-name>
    <servlet-name>ReceptionistServlet</servlet-name>
    <servlet-class>staff.servlet.ReceptionistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceptionistServlet</servlet-name>
    <url-pattern>/ReceptionistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitLabReport</display-name>
    <servlet-name>SubmitLabReport</servlet-name>
    <servlet-class>staff.servlet.SubmitLabReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitLabReport</servlet-name>
    <url-pattern>/SubmitLabReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAdminProfile</display-name>
    <servlet-name>UpdateAdminProfile</servlet-name>
    <servlet-class>staff.servlet.UpdateAdminProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAdminProfile</servlet-name>
    <url-pattern>/UpdateAdminProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDoctorProfile</display-name>
    <servlet-name>UpdateDoctorProfile</servlet-name>
    <servlet-class>staff.servlet.UpdateDoctorProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDoctorProfile</servlet-name>
    <url-pattern>/UpdateDoctorProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateLabPersonProfile</display-name>
    <servlet-name>UpdateLabPersonProfile</servlet-name>
    <servlet-class>staff.servlet.UpdateLabPersonProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateLabPersonProfile</servlet-name>
    <url-pattern>/UpdateLabPersonProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateReceptionistProfile</display-name>
    <servlet-name>UpdateReceptionistProfile</servlet-name>
    <servlet-class>staff.servlet.UpdateReceptionistProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateReceptionistProfile</servlet-name>
    <url-pattern>/UpdateReceptionistProfile</url-pattern>
  </servlet-mapping>
</web-app>